.toc-h1 {
	font-weight: bold;
}
.toc-h2 {
	margin-left: 14px;
}
.toc-h3 {
	margin-left: 24px;
	font-size: 90%;
}
.toc-h4 {
	margin-left: 34px;
	font-size: 80%;
}

footer {
	position: fixed;
width: 100%;
bottom: 0px;
z-index: 1000;
background: white;
padding: 4px;
opacity: 0.9;
}